extends layout 

block content 
  h1 Become a member today, #{user.displayName}!
  p Just find the secret word in this repo's README file. My repo can be found 
    a(href='https://www.github.com/johnnyyork13/members-only' target="_blank") here!
  form(action="/secret" method="post")
    label(for="secretWord") Enter Secret Word Here: 
    input(type="text" name="secretWord" value="hullaballoo")
    button Check Secret
  if (showModal)
    section(class="modal")
      if (!showError)
        p Congratulations! You now have member priveledges. 
        a(href="/") Back Home
      else 
        p Incorrect secret word 
        a(href="/membership") Try Again