extends layout 

block content 
  h1 Become a member today, #{user.displayName}!
  p Just find the secret word in this repo's README file. My repo can be found 
    a(href='https://www.github.com/johnnyyork13/members-only' target="_blank") here!